/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #4070f4;
  color: #fff;
}

body {
  background: #4070f4;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper .row {
  display: flex;
}

.wrapper .row-1 {
  justify-content: flex-start;
}

.wrapper .row-2 {
  justify-content: flex-end;
}

.wrapper .row section {
  background: #fff;
  border-radius: 6px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.wrapper .row-1 section::before {
  right: -7px;
}

.wrapper .row-2 section::before {
  left: -7px;
}

.wrapper .row section .icon,
.wrapper .center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #4070f4;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.wrapper .center-line .scroll-icon {
  bottom: 0;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

.wrapper .row-1 section .icon {
  top: 15px;
  right: -60px;
}

.wrapper .row-2 section .icon {
  top: 15px;
  left: -60px;
}

.wrapper .row section .bottom,
.wrapper .row section .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .row section .details .title {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.wrapper .row section p {
  margin: 10px 0 17px 0;
}

.wrapper .row section .bottom a {
  text-decoration: none;
  background: #4070f4;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.wrapper .row section .bottom a:hover {
  transform: scale(0.97);
}

@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }

  .wrapper .row section {
    width: 100%;
  }

  .wrapper .row section::before {
    left: -7px;
  }

  .wrapper .row-1 section .icon {
    left: -60px;
  }
}

@media (max-width: 440px) {
  .wrapper .center-line,
  .wrapper .row section .icon,
  .wrapper .row section::before {
    display: none;
  }

  .wrapper .row {
    margin: 10px 0;
  }
}
